<div class="header">
    <p class="heading"><span>SHOP</span>online</p>
    <div class="navbar" >
        <a routerLink={{eachRoute.routePath}} *ngFor="let eachRoute of routingList" class="route" routerLinkActive="activeRouterLink">
            <p>{{eachRoute.routeName}}</p>
        </a>
    </div>
</div>
<div class="display-container">
   <router-outlet></router-outlet>
</div>
<!-- <app-login></app-login>
<br/>
<br/> -->

<!-- <button (click)="LogTheUser()">Login</button>
<h1>{{isUserLoggedIn}}</h1> -->